= form_tag check_domains_path, class: 'form-horizontal', method: :get do
  .form-group
    .col-md-3.control-label
      = label_tag :domain_name, t(:domain_name)
    .col-md-7
      = text_field_tag :domain_name, params[:domain_name], class: 'form-control'
    .col-md-2
      %button.btn.btn-primary
        &nbsp;
        %span.glyphicon.glyphicon-search
        &nbsp;
